{% extends 'base.html' %}

<!-- START OF NEW CONTENT  -->

{% block content %}

<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-4 px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16">
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <!-- <img
              class="h-8 w-8"
              src=""
              alt=""
            /> -->
          <!-- IMAGE WOULD GO HERE -->
        </div>
      </div>
      <div class="hidden md:block">
        <div class="ml-4 flex items-center md:ml-6">
          <div class="ml-3 relative">
            <div>
              <button
                class="max-w-xs flex items-center text-sm rounded-full text-white focus:outline-none focus:shadow-solid"
                id="user-menu"
                aria-label="User menu"
                aria-haspopup="true"
              >
                <img
                  class="h-8 w-8 rounded-full"
                  src="https://www.gravatar.com/avatar?d=mp"
                  alt=""
                />
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="-mr-2 flex md:hidden">
        <!-- Mobile menu button -->
        <button
          class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-white hover:bg-gray-700 focus:outline-none focus:bg-gray-700 focus:text-white"
        >
          <!-- Menu open: "hidden", Menu closed: "block" -->
          <svg
            class="block h-6 w-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h16M4 18h16"
            />
          </svg>

          <svg
            class="hidden h-6 w-6"
            stroke="currentColor"
            fill="none"
            viewBox="0 0 24 24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>

<header class="pt-6">
  <div
    class="flex items-center justify-between max-w-5xl mx-auto pt-4 px-4 sm:px-6 lg:px-8"
  >
    <h3 class="text-xl">
      <span class="cursor-pointer" onclick="window.history.back();"
        >My Products</span
      >
      > {{product.name}}
    </h3>
    <div>
      <button
        class="bg-red-500 hover:bg-red-700 text-white font-medium py-2 px-4 mr-2 rounded"
        onclick="alert('NOT IMPLEMENTED YET')"
      >
        Edit
      </button>
      <button
        class="bg-indigo-500 hover:bg-indigo-700 text-white font-medium py-2 px-4 rounded"
        onclick="window.location.href = '/product/analytics/'"
      >
        Charts
      </button>
    </div>
  </div>
</header>

<div class="max-w-5xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
  <div
    class="whitespace-no-wrap shadow overflow-hidden sm:rounded-lg border-b border-gray-200"
  >
    <div class="px-6 py-4 overflow-hidden border-b border-gray-200">
      <h3 class="font-bold text-md">Details</h3>
    </div>

    <div class="px-6 py-4 flex flex-row justify-between mx-4 lg:mx-8">
      <div>
        <div class="py-4">
          <p class="text-center text-xl font-extrabold">
            $ {{product.current_real_price}}
          </p>
          <p class="text-center text-md leading-5 text-gray-500">
            Current Real Price
          </p>
        </div>
        <div class="py-4">
          <p class="text-center text-xl font-extrabold">
            $ {{product.est_cost_price}}
          </p>
          <p class="text-center text-md leading-5 text-gray-500">
            Estimated Cost
          </p>
        </div>
      </div>
      <div>
        <div class="py-4">
          <p class="text-center text-xl font-extrabold">
            $ {{product.est_time_labor}}
          </p>
          <p class="text-center text-md leading-5 text-gray-500">
            Estimated Labor (Hours)
          </p>
        </div>
        <div class="py-4">
          <p class="text-center text-xl font-extrabold">
            $ {{product.direct_wages}}
          </p>
          <p class="text-center text-md leading-5 text-gray-500">
            Estimated Wages
          </p>
        </div>
      </div>
      <div>
        <div class="py-4">
          <p class="text-center text-xl font-extrabold">
            $ {{product.est_time_labor}}
          </p>
          <p class="text-center text-md leading-5 text-gray-500">
            Estimated Labor (Hours)
          </p>
        </div>
        <div class="py-4">
          <p class="text-center text-xl font-extrabold">
            $ {{product.direct_wages}}
          </p>
          <p class="text-center text-md leading-5 text-gray-500">
            Estimated Wages
          </p>
        </div>
      </div>
    </div>

    <!-- DEPS  -->
    <div class="mt-12 mx-4 py-6 lg:mx-8">
      <div class="flex items-center justify-between">
        <h3 class="font-bold text-md">Dependencies</h3>
        <button
          class="bg-red-500 hover:bg-red-700 text-white font-medium py-2 px-4 mr-2 rounded"
          onclick="alert('NOT IMPLEMENTED YET')"
        >
          Edit
        </button>
      </div>
      <div
        class="mt-4 align-middle inline-block min-w-full shadow overflow-scroll sm:rounded-lg border-b border-gray-200"
        style="max-height: 20rem;"
      >
        <table class="min-w-full">
          <tbody class="bg-white">
            {% for dep in product.dependencies %}
            <tr
              class="{% if forloop.counter|divisibleby:2 %}bg-gray-50{% endif %}"
            >
              <td class="px-6 py-4 whitespace-no-wrap border-b border-gray-200">
                <div>
                  <div class="ml-4">
                    {{dep.0}} : {{dep.1}}
                  </div>
                </div>
              </td>
              <td
                class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
              ></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
