{% extends 'base.html' %}

<!-- START OF NEW CONTENT  -->
<!-- THIS FILE CONTAINS HTML CODE FOR VIEWING A SPECIFIC PRODUCT -->

{% block content %}
<!-- SEE TAILWIND UI NAV -->
<div>
  <header class="pt-6">
    <div
      class="flex items-center justify-between max-w-5xl mx-auto pt-4 px-4 sm:px-6 lg:px-8"
    >
      <h3 class="text-xl">
        <span class="cursor-pointer" onclick="window.location.href = '/'"
          >My Products</span
        >
        > {{product.name}}
      </h3>

      <!-- HEADING ACTIONS -->
      <div class="flex items-center">
        <!-- EDIT BUTTON -->
        <button
          id="editing-modal-trigger"
          class="bg-indigo-500 hover:bg-indigo-700 text-white font-medium py-2 px-4 mr-2 rounded"
        >
          <svg class="h-4 w-4" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"
            ></path>
          </svg>
        </button>

        <!-- DELETE BUTTON -->
        <!-- TODO: add modal for this -->
        <button
          class="bg-red-500 hover:bg-red-700 text-white font-medium py-2 px-4 mr-2 rounded"
        >
          <svg class="h-4 w-4" fill="currentColor" viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>

        <!-- NAV TO CHARTS BUTTON -->
        <button
          class="bg-indigo-500 hover:bg-indigo-700 text-white font-medium py-2 px-4 rounded"
          onclick="window.location.href = '/product/{{product.name}}/analytics/'"
        >
          <svg class="h-4 w-4" fill="currentColor" viewBox="0 0 20 20">
            <path
              d="M2 11a1 1 0 011-1h2a1 1 0 011 1v5a1 1 0 01-1 1H3a1 1 0 01-1-1v-5zM8 7a1 1 0 011-1h2a1 1 0 011 1v9a1 1 0 01-1 1H9a1 1 0 01-1-1V7zM14 4a1 1 0 011-1h2a1 1 0 011 1v12a1 1 0 01-1 1h-2a1 1 0 01-1-1V4z"
            ></path>
          </svg>
        </button>
      </div>
      <!-- END HEADING ACTIONS -->
    </div>
  </header>

  <!-- Product Details -->
  <!-- Product Details Overview -->
  <div class="max-w-5xl mx-auto py-4 px-4 sm:px-6 lg:px-8">
    <div
      class="bg-white whitespace-no-wrap shadow overflow-hidden sm:rounded-lg border-b border-gray-200"
    >
      <div class="px-6 py-4 overflow-hidden border-b border-gray-200">
        <h3 class="font-bold text-md">Details</h3>
      </div>

      <div class="px-6 py-4 flex flex-row justify-between mx-4 lg:mx-8">
        <div>
          <div class="py-4">
            <p class="text-center text-xl font-extrabold">
              $ {{product.real_price}}
            </p>
            <p class="text-center text-md leading-5 text-gray-500">
              Current Real Price
            </p>
          </div>
          <div class="py-4">
            <p class="text-center text-xl font-extrabold">
              $ {{product.direct_labor}}
            </p>
            <p class="text-center text-md leading-5 text-gray-500">
              Direct Labor
            </p>
          </div>
        </div>
        <div>
          <div class="py-4">
            <p class="text-center text-xl font-extrabold">
              $ {{product.direct_wages}}
            </p>
            <p class="text-center text-md leading-5 text-gray-500">
              Direct Wages
            </p>
          </div>
          <div class="py-4">
            <p class="text-center text-xl font-extrabold">
              $ {{product.indirect_wages}}
            </p>
            <p class="text-center text-md leading-5 text-gray-500">
              Indirect Wages
            </p>
          </div>
        </div>
        <div>
          <div class="py-4">
            <p class="text-center text-xl font-extrabold">
              {{product.indirect_labor}}
            </p>
            <p class="text-center text-md leading-5 text-gray-500">
              Indirect Labor (Hours)
            </p>
          </div>
          <div class="py-4">
            <p class="text-center text-xl font-extrabold">
              $ {{product.direct_wages}}
            </p>
            <p class="text-center text-md leading-5 text-gray-500">
              Estimated Wages
            </p>
          </div>
        </div>
      </div>
      <!-- End Product Details Overview -->

      <!-- Product Dependencies  -->
      <div class="mt-12 mx-4 py-6 lg:mx-8">
        <div class="flex items-center justify-between">
          <h3 class="font-bold text-md">Dependencies</h3>
          <button
            id="dependency-create-modal-trigger"
            class="bg-indigo-500 hover:bg-indigo-700 text-white font-medium py-2 px-4 mr-2 rounded"
          >
            Create
          </button>
          <button
            id="dependency-edit-modal-trigger"
            class="bg-indigo-500 hover:bg-indigo-700 text-white font-medium py-2 px-4 mr-2 rounded"
          >
            Edit
          </button>
        </div>
        <div
          class="mt-4 align-middle inline-block min-w-full shadow overflow-scroll sm:rounded-lg border-b border-gray-200"
          style="max-height: 20rem;"
        >
          <table class="min-w-full">
            <tbody class="bg-white">

              <!-- Rows for Dependencies -->
              {% for dep in dependencies %}
              <tr
                class="{% if forloop.counter|divisibleby:2 %}bg-gray-50{% endif %}"
              >
                <td
                  class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
                >
                  <div>
                    <div class="ml-4">
                      {{dep.0}} : {{dep.1}}
                    </div>
                  </div>
                </td>
                <td
                  class="px-6 py-4 whitespace-no-wrap border-b border-gray-200"
                ></td>
              </tr>
              {% endfor %}

            </tbody>
          </table>
        </div>
      </div>
      <!-- End Product Dependencies -->
    </div>
  </div>
  <!-- End Product Details -->

  

  <!-- PRODUCT EDITING MODAL -->
  <div
    id="productEditModal"
    class="modal opacity-0 pointer-events-none fixed inset-x-0 px-4 pb-4 sm:inset-0 sm:flex sm:items-center sm:justify-center"
  >
    <!-- This is the blurred, gray bg  -->
    <!-- TODO: Broken on mobile -->
    <div
      id = "productEditModal_closer"
      class="modal-closer absolute bg-gray-900 opacity-50"
      style="width: 110vw; height: 110vh;"
    ></div>

    <div
      class="bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full"
      
      >
      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <!-- Modal Title  -->
        <h3
          class="text-lg leading-6 font-medium text-gray-900"
          id="modal-headline"
        >
          Edit Product Details
        </h3>
        <div class="mt-2">
          <p class="text-sm leading-5 text-gray-500">
            Fill out the form beneath this prompt and hit confirm to edit your
            product.
          </p>
        </div>
        <!-- End Modal Title -->

        <!--Modal Content -->
        <form method="POST" action="/api/edit/product/{{product.name}}">
          {% csrf_token %}
          <div class="mt-4 mb-6">
            <div class="flex items-center mx-auto mb-4">

              <!-- Name Input -->
              <div class="w-1/2 px-2">
                <label class="px-2 block text-gray-700 text-sm font-medium mb-2">
                  Name
                </label>
                <input
                  name="name"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                  value="{{ product.name }}"
                />
              </div>

              <!-- Current Real Price Input -->
              <div class="w-1/2 px-2">
                <label class="px-2 block text-gray-700 text-sm font-medium mb-2">
                  Current Real Price
                </label>
                <input
                  name="real_price"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                  value="{{ product.real_price }}"
                />
              </div>
            </div>
            <div class="flex items-center mx-auto mb-4">

              <!-- Direct Labor Time Input -->
              <div class="w-1/2 px-2">
                <label class="px-2 block text-gray-700 text-sm font-medium mb-2">
                  Direct Labor Time
                </label>
                <input
                  name="direct_labor"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                  value="{{ product.direct_labor }}"
                />
              </div>

              <!-- Direct Wages Input -->
              <div class="w-1/2 px-2">
                <label class="px-2 block text-gray-700 text-sm font-medium mb-2">
                  Direct Wages
                </label>
                <input
                  name="direct_wages"
                  required
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                  value="{{ product.direct_wages }}"
                />
              </div>

            </div>
            
            <!----------------------------------------------------------------->
            <!-- INDIRECT WAGES AND INCOME INPUTS WERE HERE, BUT WERE REMOVED-->
            <!----------------------------------------------------------------->
          
          </div>
          <!--Modal Actions -->
          <div class="bg-gray-50 sm:px-2 sm:flex sm:flex-row-reverse">

            <!-- Confirm Button-->
            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
              <button
                type="submit"
                class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-indigo-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition ease-in-out duration-150 sm:text-sm sm:leading-5"
              >
                Confirm
              </button>
            </span>

            <!-- Cancel Button -->
            <span
              class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto"
            >
              <button
                type="button"
                id = "productEditModal_closer"
                class="modal-closer inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5"
              >
                Cancel
              </button>
            </span>
          </div>
          <!-- End Actions -->
        </form>

        

        <!-- End Content -->
      </div>
    </div>
  </div>
  <!-- END PRODUCT EDITING MODAL -->

  <!-- DEPENDENCY CREATION MODAL -->
  <div id="depCreateModal" class="modal opacity-0 pointer-events-none fixed inset-x-0 px-4 pb-4 sm:inset-0 sm:flex sm:items-center sm:justify-center">
    <!-- DIV for the blurred background -->
    <div
      id = "depCreateModal_closer"
      class = "modal-closer absolute bg-gray-900 opacity-50"
      style = "width: 110vw; height: 110vh;">
    </div>

    <!-- Outer DIV for the modal-->
    <div class = "bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
      <!-- Inner DIV for the modal-->
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">

        <!--Modal Title-->
        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
          Create Dependency
        </h3>
        <div class="mt-2">
          <p class="text-sm leading-5 text-gray-500">
            Fill out the form beneath this prompt and hit confirm 
            to create a dependency for your product.
          </p>
        </div>

        <!-- Modal Content -->
        <form method="POST" action="/api/create/dependency/{{product.name}}">
          {% csrf_token %}
          <div class="mt-4 mb-6">
            <div class="flex items-center mx-auto mb-4">
              <div class="w-1/2 px-2">

                <!--Input for Product to be Dependent on -->
                <label class="px-2 block text-gray-700 text-sm font-medium mb-2">
                  Name of Dependency
                </label>
                <input 
                  name="dependency" 
                  required 
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                />

                <!-- Input for the Quanity -->
                <label class="px-2 block text-gray-700 text-sm font-medium mb-2">
                  Quanity
                </label>
                <input 
                  name="quantity" 
                  required 
                  class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                />

              </div>
            </div>
          </div>

          <!-- Modal Actions -->
          <div class="bg-gray-50 sm:px-2 sm:flex sm:flex-row-reverse">

            <!-- Confirm Button -->
            <span class="flex w-full rounded-md shadow-sm sm:ml-3 sm:w-auto">
              <button type="submit" class="inline-flex justify-center w-full rounded-md border border-transparent px-4 py-2 bg-indigo-600 text-base leading-6 font-medium text-white shadow-sm hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo transition ease-in-out duration-150 sm:text-sm sm:leading-5">
                Confirm
              </button>
            </span>

            <!-- Cancel Button -->
            <span class="mt-3 flex w-full rounded-md shadow-sm sm:mt-0 sm:w-auto">
              <button
                type="button"
                id="depCreateModal_closer"
                class="modal-closer inline-flex justify-center w-full rounded-md border border-gray-300 px-4 py-2 bg-white text-base leading-6 font-medium text-gray-700 shadow-sm hover:text-gray-500 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue transition ease-in-out duration-150 sm:text-sm sm:leading-5"
              >
                Cancel
              </button>
            </span>

          </div>
        </form>

      </div>
    </div>
  </div>

  <!-- DEPENDENCY EDITING MODAL -->
  <div id="depEditModal" class="modal opacity-0 pointer-events-none fixed inset-x-0 px-4 pb-4 sm:inset-0 sm:flex sm:items-center sm:justify-center">
    <!-- Blurred Background-->
    <div
      id = "depEditModal_closer"
      class = "modal-closer absolute bg-gray-900 opacity-50"
      style = "width: 110vw; height: 110vh;">
    >
    </div>

    <!-- Outer Div for the modal -->
    <div class = "bg-white rounded-lg overflow-hidden shadow-xl transform transition-all sm:max-w-lg sm:w-full">
      <!-- Inner Div for the modal -->
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">

        <!-- Modal Title -->
        <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-headline">
          Edit Dependency
        </h3>
        <div class="mt-2">
          <p class="text-sm leading-5 text-gray-500">
            Fill out the form beneath this prompt and hit confirm
            to edit this dependency.
          </p>
        </div>

        <!-- Modal Content -->
        <form method="POST" action="/api/edit/dependency/{{product.name}}">

        </form>

      </div>
    </div>
  </div>

  <!-- TODO: create add dep modal -->
  <!-- TODO: create edit dep modal -->
</div>

<script>
  // I use id for open trigger bc one occurrence on this template
  // I use classes for close triggers bc multiple occurrences (the cancel button and outside click)

  //Enable the Editor Button
  let editModalTrigger = document.querySelector("#editing-modal-trigger");
  if (editModalTrigger) {
      //console.log(modalTrigger);
      editModalTrigger.addEventListener("click", () => {
      const modalContent = document.querySelector("#productEditModal");

      // should always exist but check for safety
      if (modalContent) {
        modalContent.classList.toggle("opacity-0");
        modalContent.classList.toggle("pointer-events-none");
      }
      });
  }

  //Enable the Dependency Creator Button
  let createDepModalTrigger = document.querySelector("#dependency-create-modal-trigger");
  if (createDepModalTrigger) {
    createDepModalTrigger.addEventListener("click", () => {
      const modalContent = document.querySelector("#depCreateModal");
      if (modalContent){
        modalContent.classList.toggle("opacity-0");
        modalContent.classList.toggle("pointer-events-none");
      }
    });
  }

  //Enable the Dependency Editor Button
  let editDepModalTrigger = document.querySelector("#dependency-edit-modal-trigger");
  if (editDepModalTrigger) {
    editDepModalTrigger.addEventListener("click", () => {
      const modalContent = document.querySelector("#depEditModal");
      if (modalContent){
        modalContent.classList.toggle("opacity-0");
        modalContent.classList.toggle("pointer-events-none");
      }
    });
  }

  //Allow for closing Product Editing Modal
  let proEditModalClosers = document.querySelectorAll("#productEditModal_closer");
  if (proEditModalClosers) {
    proEditModalClosers.forEach((modalCloser) => {
      modalCloser.addEventListener("click", () => {
        const modalContent = document.querySelector("#productEditModal");

        // should always exist but check for safety
        if (modalContent) {
          modalContent.classList.toggle("opacity-0");
          modalContent.classList.toggle("pointer-events-none");
        }
      });
    });
  }

  //Allow for closing Dependency Creator Modal
  let depCreateModalClosers = document.querySelectorAll("#depCreateModal_closer");
  if (depCreateModalClosers) {
    depCreateModalClosers.forEach((modalCloser) => {
      modalCloser.addEventListener("click", () => {
        const modalContent = document.querySelector("#depCreateModal");

        // should always exist but check for safety
        if (modalContent) {
          modalContent.classList.toggle("opacity-0");
          modalContent.classList.toggle("pointer-events-none");
        }
      });
    });
  }

  //Allow for closing Dependency Editor Modal
  let depEditModalClosers = document.querySelectorAll("#depEditModal_closer");
  if (depEditModalClosers) {
    depEditModalClosers.forEach((modalCloser) => {
      modalCloser.addEventListener("click", () => {
        const modalContent = document.querySelector("#depEditModal");

        // should always exist but check for safety
        if (modalContent) {
          modalContent.classList.toggle("opacity-0");
          modalContent.classList.toggle("pointer-events-none");
        }
      });
    });
  }
</script>

{% endblock %}
