{% extends 'base.html' %}

<!-- START OF NEW CONTENT  -->

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>

<script>
    var config ={
        type: 'line',
        data: {
            labels: {{ labels|safe }},
            datasets: [
            {
                label: "Real Price",
                fillColor: "rgba(0,33,165,1)",
                strokeColor: "rgba(0,33,165,1)",
                pointColor: "rgba(0,33,165,1)",
                pointStrokeColor: "rgba(0,33,165,1)",
                pointHighlightFill: "rgba(0,33,165,1)",
                pointHighlightStroke: "rgba(220,220,220,1)",
                yAxisID: 'l',
                data: {{ real_price|safe }}
            },
            {
                label: "Estimated Cost",
                fillColor: "rgba(151,187,205,1)",
                strokeColor: "rgba(151,187,205,1)",
                pointColor: "rgba(151,187,205,1)",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#0021A5",
                pointHighlightStroke: "#fff",
                yAxisID: "l",
                data: {{ estimated_cost|safe }}
            },
            {
                label: "Estimated Labor Time",
                fillColor: "rgba(120, 150, 180, 0.2)",
                strokeColor: "rgba(120, 150, 180, 1)",
                pointColor: "#F41",
                pointStrokeColor: "#fff",
                pointHighlightFill: "#fff",
                pointHighlightStroke: "rgba(120, 150, 180, 1)",
                yAxisID: "r",
                data: {{ estimated_labor_time|safe }}
            }
        ]},
        options: {
                responsive: true,
                scales: {
                    yAxes: [{
                      id: "l",
                        type: "linear",
                      position: "left"
                    }, {
                       id: "r",
                        type: "linear",
                       position: "right"
                    }]
                }
        }



    };

    window.onload = function () {
        var ctx = document.getElementById('line-graph').getContext('2d');
        window.Line = new Chart(ctx, config);
    }

</script>

<header class="pt-6">
  <div
    class="flex items-center justify-between max-w-5xl mx-auto pt-4 px-4 sm:px-6 lg:px-8"
  >
    <h3 class="text-xl">
      <span class="cursor-pointer" onclick="window.location.href = '/products';"
        >Products</span
      >
      >
      <span class="cursor-pointer" onclick="window.history.back();"
        >{{product.name}}</span
      >
      > Analytics
    </h3>
  </div>
</header>

<div id="chart" class="max-w-5xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
  <canvas id="line-graph"></canvas>
</div>

{% endblock %}
